<!-- rent section -->
<section class="pt-5 event-showcase">
  <div class="container">
    <div class="row d-flex justify-content-evently">
      <% for a in 1..10 do %>
        <div class="card mx-3 my-3" style="width: 18rem;height: 25rem;">
          <div>
            <div style="height:198px;width:262px;">
              <% if a%2==0 %>
                <%= image_tag("car2.jpeg", :alt => "rss feed", class: "card-img-top") %>
              <%else%>
                <%= image_tag("car1.jpg", :alt => "rss feed", class: "card-img-top") %>
              <% end %>
            </div>
          </div>
          <div class="card-body mt-5">
            <p>Car Name: abcedef</p>
            <p>Kms Covered: 20000</p>
            <p>  <strong>Price: 500000</strong></p>
            <div class="wrapper d-flex justify-content-between">
              <a href="#" class="btn btn-primary btn_width">Buy</a>
              <a href="#" class="btn btn-primary btn_width">Rent</a>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</section>
