<!---navbar -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark ">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">GoCars</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse parent" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 ms-5 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Buy</a></li>
            <li><a class="dropdown-item" href="#">Rent</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- rent section -->
  <section class="pt-5 event-showcase">
    <div class="container">
      <div class="row d-flex justify-content-evently">
        <% for a in 1..10 do %>
          <div class="card mx-3 my-3" style="width: 18rem;height: 25rem;">
            <div>
              <div style="height:198px;width:262px;">
                <% if a%2==0 %>
                  <%= image_tag("car2.jpeg", :alt => "rss feed", class: "card-img-top") %>
                <%else%>
                  <%= image_tag("car1.jpg", :alt => "rss feed", class: "card-img-top") %>
                <% end %>
              </div>
            </div>
            <div class="card-body mt-5">
              <p>Car Name: abcedef</p>
              <p>Kms Covered: 20000</p>
              <p>  <strong>Price: 500000</strong></p>
              <div class="wrapper d-flex justify-content-between">
                <a href="#" class="btn btn-primary btn_width">Buy</a>
                <a href="#" class="btn btn-primary btn_width">Rent</a>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </section>
