.card {
  transition: all 0.2s ease;
  cursor: pointer;
}

.card:hover {

  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}


/* for card image */
.image_fixed {
  width: 100%;
  height: auto;
  display: block;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  margin-top: 4%;
}

p {
  margin: 0;
}

.btn_width {
  width: 45%;
}
