<section class="pt-5 event-showcase">
  <div class="container">
    <div class="row d-flex justify-content-evently">
      <% @cars.each do |car| %>
        <%= render car %>
      <%end%>
    </div>
  </div>
</section>
